main {
  width: auto;
  height: auto;
}

.titreqsm {
  padding-top: 1rem;
  text-shadow: 1px 1px 2px #ffcc00;
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
}

#paraqsn {
  text-align: left;
  padding: 2% 5% 2% 5%;
  color: gray;
  font-family: "Ropa Sans", sans-serif !important;
  white-space: pre-line;
}

.presentation {
  display: flex;
  align-items: center;
  margin: 1rem 1rem 1rem 2rem;
}

#imgliliruche {
  height: 20rem;
  padding: 20px;
  border-radius: 30px;
}

@media screen and (max-width: 1038px) {
  .presentation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 1rem 1rem 2rem;
  }
}

@media screen and (max-width: 758px) {
  .presentation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 1rem 1rem 2rem;
  }
}
