* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: auto;
  background-image: url(../img/fond.jpg);
}

.inscription {
  text-align: center;
  margin-top: auto;
  font-size: 30px;
}

.form_inscription {
  height: auto;
  width: 350px;
  margin: auto;
  margin-top: 1rem;
  /* border: 1px solid; */
  padding: 25px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px grey;
  background-color: white;
}

.container_inscription {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input_connexion {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.label_inscription {
  padding: 10px;
}

.button_inscription {
  background-color: #ffb31a;
  color: white;
  margin-top: 5%;
  padding: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.input_condition {
  padding: 20px;

  width: 100%;
}

.input_con {
  padding: 5px;
  font-size: 12px;
}
.input_con a {
  text-decoration: none;
}

.copyright {
  background-color: rgb(90, 83, 83);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: wheat;
}

.div_copy {
  width: 80%;
}

#ul_copy {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.displayflex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 250px;
}

.logo_img {
  width: 100%;
  border-radius: 100%;
}

@media screen and (max-width: 758px) {
  .displayflex {
    display: flex;
    flex-wrap: wrap;
  }
}
