 {% extends 'home.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

 {% block body %}
 

<div id="cgv" class="container_cgu">
        <h1>Mentions légales et CGV</h1>
          <ul>
            <li>Raison Sociale : LiliRuche</li>
            <li>Siège social : 12, rue de Maupassant - 75000 Paris</li>
            <li>Téléphone : 01 11 12 13 14</li>
            <li>E mail: <a href="mailto:rucheelilii@gmail.com">rucheelilii@gmail.com</a></li>
            <li>Site web: <a href="https://liliruche.fr" target="_blank">www.liliruche.fr</a></li>
            <li>Horaires d'ouvertures : 9H30-19H00</li>
            <li>TVA intra-communautaire : FR 11 555 999 666</li>
            <li>RCS : Paris B111 999 777</li>
            <li>Code APE : 4321 R</li>
          </ul>
          <div class="cgv_div_h2">
            <h2>Conditions Générales de Vente</h2>
            <h3>
                <i class="fas fa-file-alt"></i>
                Dispositions Générales
            </h3>
            <p>
              Les présentes conditions générales de vente s’appliquent de manière exclusive à toutes personnes physiques ou morales effectuant un achat par le biais du site. <strong>liliruche.fr</strong>
            </p>
            <p>
              Les présentes conditions générales de vente sont expressément acceptées à tous les produits vendus sur"<strong>liliruche.fr</strong>"sans réserve par le client qui reconnaît en avoir pris connaissance préalablement à sa commande sur le site. Elles prévaudront, le cas échéant, sur tout document contradictoire et toutes autres conditions n’engageraient"<strong>liliruche.fr</strong>"qu’après confirmation écrite de sa part.
            </p>
            <p>
              Ces conditions étant susceptibles d’être modifiées à tout moment et sans préavis, les conditions applicables sont celles en vigueur sur le site à la date de la commande.
            </p>
            <p>
              Ces conditions étant susceptibles d’être modifiées à tout moment et sans préavis, les conditions applicables sont celles en vigueur sur le site à la date de la commande.Le client, préalablement à sa commande, déclare être âgé de 18 ans minimum ou être en possession d’une autorisation parentale lui permettant d’effectuer librement des achats sur le site. Le client déclare en outre avoir la pleine capacité juridique lui permettant de s’engager au titre des présentes Conditions Générales de Vente. Le client déclare également être informé que les présentes conditions générales de vente ne requièrent pas la signature manuscrite pour être acceptées dès lors qu’il a validé sa commande en ligne.
            </p>
            <p>
              Les renseignements donnés sur le présent site internet, ainsi que les produits dont la vente est mise en ligne, peuvent être modifiés par"<strong>liliruche.fr</strong>"sans préavis, étant précisé que ces modifications ne s’appliqueront dès lors qu’aux commandes postérieures.
            </p>
            <p>
              Dans le but d’améliorer la qualité de nos produits, nous nous réservons le droit de modifier, à tout moment et sans préavis, les caractéristiques techniques de nos articles. Pour l’ensemble des produits fabriqués,"<strong>liliruche.fr</strong>"est seul juge de la réalisation dans les règles de l’art des produits commandés.
            </p>
            <p>
              Les croquis, photos, textes, illustrations, l’exactitude des couleurs et saveurs figurant sur notre site internet sont donnés à titre purement indicatif et ne sauraient en aucun cas être considérés comme contractuels. Par ailleurs, "<strong>liliruche.fr</strong>"ne pourra pas être tenu responsable des erreurs typographiques figurant dans son site indépendamment de sa volonté.
            </p>
            <p>
              Toute reproduction ou représentation, même partielle, par quelque procédé que ce soit, des pages de notre site et faite sans l’autorisation de notre société est illicite et constitue une contrefaçon.
            </p>
            <p>
              <strong>liliruche.fr</strong> se réserve expressément le droit d’ajouter à tout moment de nouveaux produits, de supprimer tout ou une partie des produits commercialisés dans le catalogue du présent site, de modifier leur présentation, les informations technico-commerciales ou cesser leur commercialisation sur son site sans aucun préavis.
            </p>
            <p>
              Toutes les ventes de l’entreprise sont faites exclusivement aux présentes conditions générales de ventes. Les renseignements figurant sur les plaquettes, prospectus ou autres documents techniques ou publications ont seulement valeur indicative.
            </p>
            <p>
              Les présentes conditions générales de vente sont uniquement établies en Français.
            </p>
            <p></p>
            <h3>
                <i class="fas fa-shopping-cart"></i>
                  Passage d'une commange en ligne
            </h3>
            <p>
              Vous commandez sur notre site, votre panier se complètera au fur et à mesure de   vos produits désirés. Vous validez le panier, après vous être assuré qu’il correspond bien à votre attente. Dès réception de votre commande, une confirmation vous sera adressée par mail. Le fait de passer une commande implique l’acceptation de l’ensemble de nos
              <a href="#" title="#">
                  <span style="text-decoration:underline;">
                    <strong>Conditions Générales de Vente</strong>
                  </span>
              </a>
              .
            </p>
            <p></p>
            <h3>
                <i class="fas fa-barcode"></i>
                Prix
            </h3>
            <p>
              Le prix est exprimé en euros TTC. Le prix indiqué sur les fiches produit ne comprend pas le transport. Le prix indiqué dans la confirmation de commande est le prix définitif, exprimé toutes taxes comprises et incluant le port et la TVA. Ce prix comprend les prix des produits, les frais de manutention, d’emballage et de conservation des produits, les frais de transport et de mise en service.
            </p>
            <p></p>
            <h3>
                <i class="fas fa-receipt"></i>
                Frais de port
            </h3>
            <p>
              Pour la France Métropolitaine, une participation forfaitaire de 8,50 € est demandée pour l’expédition d’une commande, dès 100€ d’achat, la livraison sera gratuite.
            </p>
            <p></p>
            <h3>
                <i class="fas fa-shipping-fas"></i>
                Conditions de livraison
            </h3>
            <p>
              Toutes les commandes passées à <strong>liliruche.fr</strong> sont destinées à l’usage personnel des clients. Les clients ou les destinataires des produits s’interdisent toute revente partielle ou totale des produits.<strong>liliruche.fr</strong> se dégage de fait de toute responsabilité juridique si l’acquittement des taxes n’était pas effectué par le client. La livraison sera effectuée par
              <a href="https://www.laposte.fr/colissimo" title="Colissimo" target="_blank">
                  <span style="text-decoration:underline;">
                      <strong>la Poste en Colissimo suivi</strong>
                  </span>
              </a>
              en France Métropolitaine. La livraison est effectuée par la remise directe du produit au destinataire annoncé, soit en cas d’absence, au bureau de Poste le plus proche. Pour toute commande passée avant 10 Heures du Lundi au Jeudi, la commande sera traitée sous 72H et une fois posté, le colis sera livré sous 48 heures en Colissimo suivi pour la France métropolitaine. *délais communiqué par la Poste. Les retards éventuels ne donnent pas le droit à l’acheteur de réclamer des dommages et intérêts. A la livraison, tout problème devra être signalé au livreur, en cas d’anomalie le client émettra une réserve sur le bon de livraison. Sans le respect de cette obligation, aucune procédure ne pourra être prise en compte.
            </p>
            <p>
                <strong>liliruche.fr</strong> ne peut en aucun cas être tenu pour responsable d’une éventuelle dégradation des produits en cas de réception tardive due à une absence du client.
            </p>
            <p>
              A partir du moment où le colis est noté « livré » par Colissimo Suivi sur le bordereau de livraison, la Maison du Miel se dégage totalement de toutes responsabilités.
            </p>
            <p></p>
            <h3>
                <i class="fas fa-coins"></i>
                Mode de règlement
            </h3>
            <p>La commande ne sera expédiée qu’après réception complète du règlement.</p>
            <p>Vous pouvez régler votre commande par carte bancaire grâce à notre
              <a href="{{ path('paiment')}}" title="#" target="_blank">
                  <span style="text-decoration:underline;">
                    <strong>système sécurisé</strong>
                  </span>
              </a>
              (la validation ne se fera qu’après validation du moyen de paiement par carte bancaire en ligne), les données relatives à la carte bancaire ne sont conservées que pendant le temps de traitement de la commande.
            </p>
            <p>
              Le client bénéficie d’un droit de rétractation de 14 jours ouvrés (Loi L 121.18) après avoir reçu sa commande pour une demande de remboursement sous 2 conditions :
              <br>
              - les produits ne doivent pas avoir été utilisés ; 
              <br>
              - les emballages doivent être propres et intacts
            </p>
            <p>
              Seul le remboursement du montant des produits sera effectué après réception du colis.
            </p>
            <p>
              Les frais de port pour la réexpédition sont à la charge du client.
            </p>
            <p>
              <strong>liliruche.fr</strong>
              se réserve le droit de refuser un remboursement si l’une des 2 conditions ci-dessus n’était pas respectée.
            </p>
            <p></p>
            <h3>
                <i class="fas fa-desktop"></i>
                Loi informatique et libertés
            </h3>
            <p>
              En application de la loi n°78-17 du 6 janvier 1978 modifiée, relative à l’informatique, les traitements automatisés de données nominatives réalisés à partir du site <strong>liliruche.fr</strong>" ont été traités en conformité avec les exigences de la loi n°78-17 du 6 janvier 1978 modifiée, relative à l’informatique, aux fichiers et aux libertés.
            </p>
            <p>
                L’utilisateur est notamment informé que conformément à l’article 32 de la loi n°78-17 du 6 janvier 1978 modifiée, relative à l’informatique, aux fichiers et aux libertés, les informations qu’il communique par le biais des formulaires présents sur le site sont nécessaires pour répondre à sa demande et sont destinées à <strong>liliruche.fr</strong> en tant que responsable du traitement à des fins de gestion administrative et commerciale. L’utilisateur est informé qu’il dispose d’un droit d’accès, d’interrogation et de rectification qui lui permet, le cas échéant, de faire rectifier, compléter, mettre à jour, verrouiller ou effacer les données personnelles le concernant qui sont inexactes, incomplètes, équivoques, périmées ou dont la collecte, l’utilisation ou la conservation est interdite.
              <br>
              Si vous souhaitez nous adresser une demande liée aux trois droits cités ci-dessus, contactez-nous via notre 
              <a href="{{ path('add-contact')}}" title="#" target="_blank">
                  <span style="text-decoration:underline;">
                      <strong>formulaire de contact</strong>
                  </span>
              </a>
                .
            </p>
            <p></p>
            <h3>
                <i class="fas fa-exchange-alt"></i>
                Délais de rétractation
            </h3>
            <p>
              Conformément aux dispositions de l’article 121-20 du code de la consommation, le client dispose, à compter de la livraison, d’un délais de 14 jours francs pour retourner le colis dans son emballage d’origine, non ouvert et dans un état parfait, aux fins d’échange ou de remboursement, les frais de retour étant à la charge du client. 
            </p>
            
          </div>
</div>
   
   
 {% endblock %}
