  {% extends 'home.html.twig' %}

  {% block title %}Livraison{% endblock %}

  {% block body %} 
  <main class="main_livraison">   
    <div>

      <h1 class="titre_livraison"> Livraison et retours</h1>

      <div>
        <h2><i class="fas fa-truck"></i> Transport</h2>

        <p>Les colis sontgénéralement expédiés en <strong>48h après réception de votre paiement</strong>.
        Les colis sont surdimensionnés et protégés, un soin particulier est apporté aux colis contenant des produits fragiles.</p>

        <h2><i class="fas fa-receipt"></i> Frais de Transport</h2>

        <p>Les frais d'expédition comprennent : l'emballage; la manutention; les frais postaux.
        Ils peuvent contenir une partie fixe et une partie variable en fonction du prix ou du poids de votre commande. <br>
        Pour la France Métropolitaine, une participation forfaitaire de 5 € est demandée pour l’expédition d’une commande. Dès 50€ d’achat, la livraison sera gratuite.
        Nous vous conseillons de regrouper vos achats en une unique commande. Nous ne pouvons pas grouper deux commandes distinctes et vous devrez vous acquitter des frais de port pour chacune d'entre elles.</p>

        <h2><i class="fas fa-info-circle"></i> Information suplémentaire</h2>

        <p>Le mode d'expédition standard est le <strong>Colissimo suivi</strong>, remis sans signature. Si vous souhaitez une remise avec signature, un coût supplémentaire s'applique, merci de nous contacter. <br>
        Quel que soit le mode d'expédition choisi, nous vous fournirons dès que possible un lien qui vous permettra de suivre en ligne la livraison de votre colis.</p>

        <h2><i class="fas fa-exchange-alt"></i> Retours</h2>
        
        <p>Vous bénéficiez d’un droit de rétractation de <strong>14 jours ouvrés</strong> après avoir reçu votre commande pour une demande de remboursement sous 2 conditions : <br>
          - les produits ne doivent pas avoir été utilisés. <br>
          - les emballages doivent être propres et intacts. <br>            
        Seul le remboursement du montant des produits sera effectué après réception du colis.
        Les frais de port pour la réexpédition sont à la charge du client.</p>

      </div>

    </div>
  </main>
  {% endblock %}
