{% extends 'home.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %} 
<main class="main_paiment">
  <h1 class="titre_paiment"> Paiment securisé</h1>
  
  <div>
    <h2><i class="fas fa-user-shield"></i> Connexion sécurisée</h2>
    <p>Les données que nous récoltons sur tout utilisateur du site, par exemple, lors d’une inscription (adresse e-mail, nom, prénom…) ou lors d’un paiement (coordonnées bancaires, adresse de livraison...), sont sécurisées par un certificat SSL, ce qui signifie que seule LiliRuche aura accès à ces informations, dont nous nous servons exclusivement pour le traitement des commandes. Nous ne revendons pas ces informations.</p>

    <h2><i class="fas fa-coins"></i> Moyens de paiement</h2>
    <p>Nous acceptons les achats en Euro (€). Si vous souhaitez commander en ligne, nous acceptons toutes les cartes bancaires françaises. En boutique, nous acceptons les moyens de paiement cités ci-dessous sans minimum de montant.</p>

  </div>

</main>
{% endblock %}
