{% extends 'home.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %} 

<main>
  
  <h1 class="titreqsm">Qui sommes-nous ?</h1>

  <div class="presentation">
    <img id="imgliliruche" src="/assets/img/liliruche.jpg" alt="">

    <p id="paraqsn"> 
    Nous sommes une petite exploitation apicole situé à Paris. Cette structure de 500 ruches fait vivre 2 apiculteurs, 2 salariés et 1 saisonnier.
    Nous commercialisons sur ce site les récoltes de nos abeilles et celles de confrères apiculteurs.
    Visitez la boutique en ligne dans laquelle vous trouverez miels, gelée royale, pollen, propolis, pain d'épices, le tout récoltés en France.
    
    <strong>Bonne visite. <i class="far fa-smile-beam"></i></strong></p>  
  </div>

</main>

{% endblock %}